<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">Student Answers</h1>
            <h2>View for {{role}}</h2>
        </div>
    </header>
    {{#if message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    <main role="main" class="inner cover">

        <div id="newItemDiv">
            <button type="button" class="btn btn-primary" id="downloadAll" onclick="window.location.href= window.location.href +'/api/getAllAnswers'">
                download all student types as one file
            </button>
        </div>

        <ul class="list-group" id="itemlist">
            {{#each rows}}
            <div id="itemDivId{{{catagories_id}}}" <li class="list-group-item itemList" id="itemId{{{catagories_id}}}">
                <a class="itemTitle" id="itemLink{{{catagories_id}}}">{{catagories_name}}</a>
                <button type="button" class="btn-sm btn-outline-warning truncate answersDeleteButton" id="truncateButton{{{catagories_id}}}">TRUNCATE</button>
                </li>
            </div>
            {{/each}}
        </ul>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <div class="stargarnetReferral">
                <div class="stargarnetReferral">
                    <p>design by
                        <a target="blank" href="https://www.stargarnet.net/">Stargarnet LLC</a>
                    </p>
                </div>
            </div>
    </footer>
    </div>

    {{!--
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

    <script>
        $(document).ready(function () {
            x = '{{{package}}}';
            rows = JSON.parse(x);
            console.log(rows);
            $.each(rows, function () {
                let htmlId = "#itemDivId" + this.catagories_id;
                let thisRow = this;
                linkItem =
                    console.log(htmlId)
                $(htmlId).css('color', thisRow.catagories_color)
                itemLink = '#itemLink' + thisRow.catagories_id;
                address = window.location.href + '/api/getAnswers?catagoryName=' + thisRow.catagories_name;
                $(itemLink).attr('href', address);
                //$(itemLink).css('color',thisRow.catagories_color)



                let buttonGrabber = "#truncateButton" + thisRow.catagories_id;
                $(htmlId).on('click', buttonGrabber, function () {


                    if (window.confirm('WARNING! THIS ACTION CANNOT BE REVERSED!! If you click OK, all answers entered by students belonging to this catagory will be perminently deleted')) {
                        console.log(thisRow.catagories_id)
                        $.ajax({
                            url: "/answers/api/delete",
                            data: "catagoryName=" + thisRow.catagories_name,
                            type: 'GET',
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        }).done(function (msg) {

                            alert(msg)
                        })//end done
                            .fail(function (xhr, status, errorThrown) {
                                alert("Sorry, there was a problem!");
                                console.log("Error: " + errorThrown);
                                console.log("Status: " + status);
                                console.dir(xhr);
                            })


                    }//end confirm
                    /*  let questionId = this.id.slice(10);
                      $.ajax({
                          url: "/editor/api",
                          data: "questionId=" + questionId,
                          type: 'GET',
                          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                      }).done(function (msg) {
          
                          updateModal(msg);
          
                      })//end done
                          .fail(function (xhr, status, errorThrown) {
                              alert("Sorry, there was a problem!");
                              console.log("Error: " + errorThrown);
                              console.log("Status: " + status);
                              console.dir(xhr);
                          })*/


                })//end onclick

            })//end each

            role = '{{{role}}}';
            console.log(role)
            if (role != 'admin') {
                $('.answersDeleteButton').remove();
            }

        })//end on load
    </script>